@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen font-sans antialiased;
    background-color: theme('colors.background');
    color: theme('colors.on-background');
  }

  #root {
    @apply min-h-screen;
  }

  ::selection {
    background-color: theme('colors.primary');
    color: theme('colors.on-primary');
  }
}
